.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 10;
    background: rgba(0, 0, 0, 0.75);
  }
  
  .modal {
    position: relative;
    top: 30vh;
    left: 50%;
    width: 80%; 
     z-index: 100;
    overflow: hidden;
  }
  
  .header {
    padding: 1rem;
  }
  
  .header h2 {
    margin: 0;
    color: white;
  }
  
  .content {
    padding: 0.2rem;
    padding-left: 2rem;
    padding-top: 0rem;
    padding-bottom: 1rem;
    color: black;
    font-size: large;
  }
  
  .actions {
    padding: 1rem;
    display: flex;
    justify-content:center;
  }
  

  @media (min-width: 768px) {
    .modal {
      left: calc(50% - 20rem);
      width: 40rem;
    }
  }
